body {
    color: cornsilk;
    background-color: black;
    color: cornsilk;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
  font-style: normal;
}
.boxl {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background-color: rgb(29, 27, 27);
    margin: 6% 35%;
    color: cornsilk;
    border-radius: 20px;
    padding-right: 30px;
    padding-left: 20px;
    transform: scale(1.4);

}
h2 {
    text-align: center;
    margin-top: 5%;
}
.boxl form  {
    align-items: center;
    text-align: center;
    
}
.boxl form button {
    border-radius: 14px;
    background-color: black;
    color: rgb(255, 255, 255);
    margin-top: 18px;
    height: 40px;
    width: 75px;
    border: none;
    cursor: pointer;
}

.boxl form button:hover {
    background-color: rgb(255, 255, 255);
    transition: 0.1s;
    color: rgb(0, 0, 0);
    font-weight: 650;
    transform: scale(1.1);
    
}
.boxl form input {
    background-color:dimgrey;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
}

.boxl form input:hover {
    box-shadow: 0 0 5px 2px #00ffd5,
    0 0 5px 2px #00ffd5,
    0 0 5px 2px #00ffd5,
    0 0 5px 2px #00ffd5
              
}
.boxl form a{
    text-align: left;
    color: rgb(255, 0, 0);
    padding-right: 110px;
}

